--extra-index-url https://download.pytorch.org/whl/cpu
--only-binary=:all:

pip>=24.0
setuptools<75
wheel

streamlit==1.49.0
python-dotenv
tqdm
httpx
numpy==1.26.4

yt-dlp
ffmpeg-python
pydub
imageio-ffmpeg==0.4.9

transformers==4.41.2
tokenizers==0.19.1
sentence-transformers==3.0.1
huggingface-hub==0.24.5
pydantic==1.10.15
accelerate==0.31.0

+faiss-cpu==1.7.4

faster-whisper==1.0.1
ctranslate2==4.5.0

torch==2.0.1
